<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<title>Sequencer Docs{% if page.title }%} - {{page.title}}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
<link href="css/syntax.css" rel="stylesheet" type='text/css'>

   
{% if page.demoappid %}

<!-- Third party : RequireJs-->
<script src="./SOURCE/lib/require.js"></script>

<script type="text/javascript">
	var APPID = "{{page.demoappid}}";
	var demojs = "./{{page.demojs}}";

	require(['requireconfig'], function () {
		require(['mcorp', demojs], function (MCorp, demo) {
			var app = MCorp.app(APPID, {anon:true});
		    app.run = function () {
		        if (document.readyState === "complete") demo(app.motions);
		    };
		    window.onload = function () {
		        if (app.readyState === app.STATE["OPEN"]) demo(app.motions);
		    };
		    app.init();
		});
	});

</script>
{% endif %}