<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<title>Sequencer{% if page.title }%} - {{page.title}}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">

<link href='stylesheets/googlefontfamily.css' rel='stylesheet' type='text/css'>
<!--
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
-->
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
<link href="stylesheets/syntax.css" rel="stylesheet" type='text/css'>

<script text="javascript">
var get_view_source_url = function (path) {
	var baseurl = "{{site.baseurl}}";
	
	return "view-source:" + window.location.origin + baseurl + "/" +path;
};
</script>

   
{% if page.demoappid %}
<script text="javascript" src="http://mcorp.no/lib/mcorp-2.0.js"></script>
<script text="javascript" src="lib/sequencer.js"></script>
<script text="javascript" src="{{page.demojs}}.js"></script>

<script text="javascript">
	var app = MCorp.app("{{page.demoappid}}", {anon:true});
	app.run = function () {
  		DEMO.run(app.motions);
  	};
  	if (document.readyState === "complete") app.init();
  	else window.onload = app.init;
</script>

{% endif %}